In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("sales_data.csv")

# Then preview the first 5 rows
print("First 5 rows:")
display(df.head())

# check basic info about the dataset
print("\nDataset Info:")
df.info()

# summarize key statistics
print("\nSummary Statistics:")
display(df.describe())

First 5 rows:

,OrderID,Date,Product,Category,Quantity,UnitPrice,TotalSales
0,1000,2023-01-01,Headphones,Accessories,1,150,150
1,1001,2023-01-01,Mouse,Accessories,3,50,150
2,1002,2023-01-01,Monitor,Electronics,1,300,300
3,1003,2023-01-01,Mouse,Accessories,2,50,100
4,1004,2023-01-01,Tablet,Electronics,3,500,1500

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3481 entries, 0 to 3480
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     3481 non-null   int64
 1   Date        3481 non-null   object
 2   Product     3481 non-null   object
 3   Category    3481 non-null   object
 4   Quantity    3481 non-null   int64
 5   UnitPrice   3481 non-null   int64
 6   TotalSales  3481 non-null   int64
dtypes: int64(4), object(3)
memory usage: 190.5+ KB

Summary Statistics:

           OrderID     Quantity    UnitPrice   TotalSales
count  3481.000000  3481.000000  3481.000000  3481.000000
mean   2740.000000     2.485205   445.101982  1106.004022
std    1005.022471     1.133792   395.928992  1199.332850
min    1000.000000     1.000000    50.000000    50.000000
25%    1870.000000     1.000000   100.000000   200.000000
50%    2740.000000     2.000000   300.000000   600.000000
75%    3610.000000     4.000000   800.000000  1500.000000
max    4480.000000     4.000000  1200.000000  4800.000000

## Now we clean the data; check for missing/duplicate values, drop any columns, make any changes necessary

In [ ]:
# check for missing values
print("Missing values per column:")
print(df.isnull().sum())

# drop any duplicate rows, if any
df = df.drop_duplicates()

# correct data types
df['Date'] = pd.to_datetime(df['Date'])

# double check the data types
print("\nData types after cleaning:")
print(df.dtypes)

# check table
print(df.sample(20))
display(df.sample(20))

Missing values per column:
OrderID       0
Date          0
Product       0
Category      0
Quantity      0
UnitPrice     0
TotalSales    0
dtype: int64

Data types after cleaning:
OrderID                int64
Date          datetime64[ns]
Product               object
Category              object
Quantity               int64
UnitPrice              int64
TotalSales             int64
dtype: object
      OrderID       Date     Product     Category  Quantity  UnitPrice  \
1936     2936 2023-07-22      Laptop  Electronics         2       1200
835      1835 2023-03-31      Tablet  Electronics         1        500
2742     3742 2023-10-16     Monitor  Electronics         1        300
1830     2830 2023-07-10       Phone  Electronics         2        800
1078     2078 2023-04-26      Tablet  Electronics         4        500
648      1648 2023-03-13      Tablet  Electronics         2        500
2690     3690 2023-10-11     Monitor  Electronics         4        300
3116     4116 2023-11-23     Monitor  Electronics         2        300
1022     2022 2023-04-19       Phone  Electronics         4        800
2778     3778 2023-10-20       Mouse  Accessories         2         50
761      1761 2023-03-23       Phone  Electronics         3        800
2153     3153 2023-08-14      Tablet  Electronics         1        500
3137     4137 2023-11-25      Laptop  Electronics         3       1200
3045     4045 2023-11-16       Mouse  Accessories         3         50
60       1060 2023-01-06      Laptop  Electronics         4       1200
2398     3398 2023-09-11      Laptop  Electronics         1       1200
2920     3920 2023-11-04       Mouse  Accessories         2         50
2929     3929 2023-11-05  Headphones  Accessories         1        150
302      1302 2023-01-31      Laptop  Electronics         4       1200
3474     4474 2023-12-31       Phone  Electronics         1        800

      TotalSales
1936        2400
835          500
2742         300
1830        1600
1078        2000
648         1000
2690        1200
3116         600
1022        3200
2778         100
761         2400
2153         500
3137        3600
3045         150
60          4800
2398        1200
2920         100
2929         150
302         4800
3474         800

,OrderID,Date,Product,Category,Quantity,UnitPrice,TotalSales
801,1801,2023-03-28,Laptop,Electronics,2,1200,2400
2003,3003,2023-07-29,Headphones,Accessories,1,150,150
992,1992,2023-04-16,Keyboard,Accessories,1,100,100
765,1765,2023-03-24,Mouse,Accessories,3,50,150
1720,2720,2023-06-30,Monitor,Electronics,3,300,900
255,1255,2023-01-26,Monitor,Electronics,4,300,1200
1226,2226,2023-05-09,Mouse,Accessories,1,50,50
3186,4186,2023-11-29,Mouse,Accessories,4,50,200
1942,2942,2023-07-23,Tablet,Electronics,2,500,1000
857,1857,2023-04-03,Laptop,Electronics,1,1200,1200
2667,3667,2023-10-08,Keyboard,Accessories,4,100,400
2047,3047,2023-08-03,Phone,Electronics,3,800,2400
2295,3295,2023-08-30,Tablet,Electronics,1,500,500
3275,4275,2023-12-09,Mouse,Accessories,4,50,200
2024,3024,2023-07-31,Monitor,Electronics,4,300,1200
1059,2059,2023-04-24,Phone,Electronics,3,800,2400
1319,2319,2023-05-19,Headphones,Accessories,4,150,600
2256,3256,2023-08-26,Headphones,Accessories,1,150,150
2500,3500,2023-09-24,Mouse,Accessories,3,50,150
1075,2075,2023-04-25,Laptop,Electronics,1,1200,1200

In [11]:
# quick check for calculation errors
df['CheckTotal'] = df['Quantity'] * df['UnitPrice']

# compare with TotalSales
mismatches = df[df['CheckTotal'] != df['TotalSales']]
print("Number of mismatches:", len(mismatches))

# if any mismatches, show the first few
if len(mismatches)> 0:
    display(mismatches.head())

Number of mismatches: 0

## Data set is clean. Now we will move on to analyzing the data/answering some questions that might be useful

In [12]:
# total sales overall
total_sales = df['TotalSales'].sum()
print("Total Sales (all time): $", total_sales)

Total Sales (all time): $ 3850000