In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("sales_data.csv")

# Then preview the first 5 rows
print("First 5 rows:")
display(df.head())

# check basic info about the dataset
print("\nDataset Info:")
df.info()

# summarize key statistics
print("\nSummary Statistics:")
display(df.describe())

First 5 rows:

,OrderID,Date,Product,Category,Quantity,UnitPrice,TotalSales
0,1000,2023-01-01,Headphones,Accessories,1,150,150
1,1001,2023-01-01,Mouse,Accessories,3,50,150
2,1002,2023-01-01,Monitor,Electronics,1,300,300
3,1003,2023-01-01,Mouse,Accessories,2,50,100
4,1004,2023-01-01,Tablet,Electronics,3,500,1500

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3481 entries, 0 to 3480
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     3481 non-null   int64
 1   Date        3481 non-null   object
 2   Product     3481 non-null   object
 3   Category    3481 non-null   object
 4   Quantity    3481 non-null   int64
 5   UnitPrice   3481 non-null   int64
 6   TotalSales  3481 non-null   int64
dtypes: int64(4), object(3)
memory usage: 190.5+ KB

Summary Statistics:

           OrderID     Quantity    UnitPrice   TotalSales
count  3481.000000  3481.000000  3481.000000  3481.000000
mean   2740.000000     2.485205   445.101982  1106.004022
std    1005.022471     1.133792   395.928992  1199.332850
min    1000.000000     1.000000    50.000000    50.000000
25%    1870.000000     1.000000   100.000000   200.000000
50%    2740.000000     2.000000   300.000000   600.000000
75%    3610.000000     4.000000   800.000000  1500.000000
max    4480.000000     4.000000  1200.000000  4800.000000